<div class="navbar navbar-app navbar-fixed-bottom text-center">
    <a ng-click="toggle('rightSidebar');" class="btn btn-navbar btn-icon-only" ng-hide="msgsChecked"><i class="fa fa-comments fa-navbar"></i> </a>
    <a class="btn btn-navbar " ng-href="#/"><i class="fa fa-home fa-navbar"></i> Home</a>
    <a class="btn btn-navbar " ui-sref="main.admin.views"><i class="fa fa-book"></i> Admin</a>
    <a class="btn btn-navbar " ui-sref="main.shops.views"><i class="fa fa-shopping-cart"></i>  Shop</a>
    <a class="btn btn-navbar " ui-sref="main.tools.views"><i class="fa fa-compass"></i> Tools</a>

</div>