<div class="header rowz">
    <div class="col-xs-12">
        <div class="col-xs-7">
            <breadcrumb></breadcrumb>

        </div>
        <div class="col-xs-5" style="height: 0">

          <div ng-repeat="notification in notify">
                  <div class="col-xs-2 pull-right">
                      <a ng-click="$parent.$parent.popDown(notification.name);" ng-mouseover="$parent.$parent.popDown(notification.name);">
                          <i class="fa fa-2x fa-{{notification.icon}}"></i>
                      </a>
                      <div ng-mouseleave="$parent.$parent.popDown();" ng-show="$parent.$parent.popDown{{notification.name}}" ng-hide="!$parent.$parent.popDown{{notification.name}}" class="my-dropdown-menu"  ng-style="dirDim">
                          <ul>
                              <li eco-panel title="{{notification.name}}" iconz="iconx">
                                  <comp element="notification.name"></comp>

                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
            <!--
               <div class="col-xs-1">
                  <div>
                      <a ng-click="msgs=!msgs; nots=false; evts=false; cart=false; userx=false;">
                          <i class="fa fa-2x fa-envelope"></i>
                      </a>
                      <div ng-show="msgs" class="my-dropdown-menu"  ng-animate="'animate'" ng-style="dirDim">
                      <ul>
                          <li><div eco-panel title="Messages" iconz="iconx">
                              <messages></messages>{{iconx}}
                          </div></li>
                      </ul>
                      </div>
                  </div>
              </div>

              <div class="col-xs-1">
                  <div>
                      <a ng-click="evts=!evts; msgs=false; nots=false; cart=false; userx=false;">
                          <i class="fa fa-2x fa-check-circle-o"></i>
                      </a>
                      <div ng-show="evts" class="my-dropdown-menu" ng-style="dirDim">
                          <ul>
                              <li><div eco-panel title="Events" iconz="iconz">
                                  <events></events>
                              </div></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-xs-1">
                  <div>
                      <a ng-click="cart=!cart; msgs=false; evts=false; nots=false; userx=false;">
                          <i class="fa fa-2x fa-shopping-cart"></i>
                      </a>
                      <div ng-show="cart" class="my-dropdown-menu" ng-style="dirDim">
                          <ul>
                              <li><div eco-panel title="Shopping Cart" iconz="iconx">
                                  <cart></cart>
                              </div></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div class="col-xs-1">
                  <div>
                      <a ng-click="nots=!nots; msgs=false; evts=false; cart=false; userx=false;">
                          <i class="fa fa-2x fa-globe"></i>
                      </a>
                      <div ng-show="nots" class="my-dropdown-menu" ng-style="dirDim">
                          <ul>
                              <li><div eco-panel title="Notifications" iconz="iconx">
                                  <notifications></notifications>
                              </div></li>
                          </ul>
                      </div>
                  </div>
              </div>
 -->



        </div>


    </div>

</div>