<div class="header rowz">
    <div class="col-xs-12">
        <div class="col-xs-7">
            <breadcrumb></breadcrumb>

        </div>
        <div class="col-xs-5" style="height: 0">

          <div ng-repeat="notification in notify">
                  <div class="col-xs-2 pull-right">
                      <a ng-click="$parent.$parent.popDown(notification.name);" ng-mouseover="$parent.$parent.popDown(notification.name);">
                          <i class="fa fa-2x fa-{{notification.icon}}"></i>
                      </a>
                      <div ng-mouseleave="$parent.$parent.popDown();" ng-show="$parent.$parent.popDown{{notification.name}}" ng-hide="!$parent.$parent.popDown{{notification.name}}" class="my-dropdown-menu"  ng-style="dirDim">
                          <ul>
                              <li class="col-xs-12">
                                  <comp element="notification.name"></comp>
                                  <div class="" ng-repeat="nav in $parent.$parent.navify">
                                      <div eco-ref="$parent.$parent.system.data.params.data.path +'/?'+ nav.name +'='+$parent.notification.name" class="btn btn-default col-xs-3"><i class="fa fa-{{nav.icon}}"></i></div>
                                  </div>

                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</div>