.category-browser {
  width:auto;
  float:left;
  background: white;
  padding:.1em;
  margin:.1em;
}

.category-browser ul{
  position: absolute;
  margin:0;
  background: white;
  text-align: left;
  padding:1em;
}

.shop h1 {
  width:100%
}