<div>
    <div ng-if="search.results" class="search-results">
        <div class="col-xs-12 search-items">

            <h4>Search Results: {{searchItems}}</h4>
            <br>
            <div ng-show="!searchItems || searchItems==='products'">
                <div class="col-xs-12">
                    <strong><em ng-if="search.results.products && search.results.products.length">{{search.results.products.length}}</em><em ng-if="!search.results.products || !search.results.products.length">0</em></strong> products found.
                </div>
                <div class="col-xs-12" ng-repeat="res in search.results.products">{{res.name}}, <b>{{res.price | currency}}</b></div>
            </div>
            <div ng-show="searchItems==='orders'">
                <div class="col-xs-12">
                    <strong><em ng-if="search.results.orders && search.results.orders.length">{{search.results.orders.length}}</em><em ng-if="!search.results.orders || !search.results.orders.length">0</em></strong> orders found.
                </div>
                <div class="col-xs-12" ng-repeat="res in search.results.orders"><b>{{res.name}}</b></div>
            </div>
            <div ng-show="searchItems==='messages'">
                <div class="col-xs-12">
                    <strong><em ng-if="search.results.messages && search.results.messages.length">{{search.results.messages.length}}</em><em ng-if="!search.results.messages || !search.results.messages.length">0</em></strong> messages found.
                </div>
                <div class="col-xs-12" ng-repeat="res in search.results.messages">{{res.name}}, <b>{{res.users}}</b></div>
            </div>
        </div>

        <div class="navbar navbar-absolute-bottom search-nav">
            <div class="btn-group pull-left">
                <div ng-click="searchItems='products'" class="btn btn-navbar">
                    <i class="fa fa-gift"></i> Products
                </div>
                <div ng-click="searchItems='orders'" class="btn btn-navbar">
                    <i class="fa fa-truck"></i> Orders
                </div>
                <div ng-click="searchItems='messages'" class="btn btn-navbar">
                    <i class="fa fa-envelope"></i> Messages
                </div>
            </div>
        </div>
    </div>
    <div class="search pull-right">
        <input ng-model="search.value" ng-change="doSearch('value')" placeholder="Search">
    </div>
</div>