.search {
  font-size: 1.6em;
  max-height: 71px;
  margin: 2px 0;
  background: rgba(255,255,255,.8);
  padding: 2px 10%;
  width:100%;
}
.search input {width:100%;min-width:inherit}

.search-results {
  position: fixed;
  bottom: 81px;
  background: white;
  overflow-y: scroll;
  max-height: 62%!important;
  min-height: 62%!important;
  min-width: 23.25%;
}
.search-items {
  overflow-y: scroll;
  max-height:62%;
}

.search-nav .btn{
  padding-top:0;
}