<div class="col-xs-12" ng-controller="DashboardCtrl">
    <h1>{{ dashName }} Dashboard</h1>
    <div class="col-xs-12" ng-show="dashName==='Admin'">
        <div class="well">
            <h2>Prodz to Inventory</h2>
            <button ng-click="importProdzToInventory()" class="btn btn-danger">Fire in the Hole!</button>
            <div class="scrollable">
                <h4>Treasure:</h4>
                <span ng-show="treasure.incoming">Incoming...</span>
                <span ng-show="treasure.data.count">Products: {{treasure.data.count}}</span>
                <div style="overflow-y:auto;height:500px;" ng-show="treasure.product">
                    <ol>
                        <li ng-repeat="(idx, product) in treasure.product">{{product}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-7">

        <div class="well">
            <h2>Settings</h2>
            <p ng-repeat="(key,settings) in dashStuff2 | orderBy:key:reverse">{{ key }}: <prefs type="settings.type" element="settings.elementual"></prefs></p>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="well scrollable-content">
            <orders></orders>
        </div>
    </div>


</div>
