<div class="col-xs-12" ng-controller="DashboardCtrl">
    <h1>{{ dashName }} Dashboard</h1>
    <div class="col-xs-7">

        <div class="well">
            <h2>Settings</h2>
            <p ng-repeat="(key,settings) in dashStuff2 | orderBy:key:reverse">{{ key }}: <prefs type="settings.type" element="settings.elementual"></prefs></p>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="well scrollable-content">
            <orders></orders>
        </div>
    </div>


</div>
