<div class="left col col-xs-12" ng-class="{openlg:leftlg,openmd:leftmd,opensm:leftsm}">
    <div class="fixed-top-left">
    <button class="col-xs-4" ng-click="leftBarSize('leftsm')" ng-model="leftsm"></button>
    <button class="col-xs-4" ng-click="leftBarSize('leftmd')" ng-model="leftmd"></button>
    <button class="col-xs-4" ng-click="leftBarSize('leftlg')" ng-model="leftlg"></button>
    </div>
        'Allo {{system.data.user.profile.displayName}}
    <div ng-if="leftbar">
        <comp element="leftbar"></comp>
    </div>
    <div ng-if="!leftbar"></div>
</div>