<div class="left col col-xs-12" ng-class="{openlg:leftlg,openmd:leftmd,opensm:leftsm}">
    <div class="fixed-top">
    <button class="col-xs-2" ng-click="rightlg=false;leftlg=false;leftmd=false;leftsm=!leftsm;" ng-model="leftsm">x</button>
    <button class="col-xs-3" ng-click="rightlg=false;rightmd=false;leftlg=false;leftsm=false;leftmd=!leftmd;" ng-model="leftmd">x</button>
    <button class="col-xs-5" ng-click="rightlg=false;rightmd=false;rightsm=false;leftsm=false;leftmd=false;leftlg=!leftlg;" ng-model="leftlg">x</button>
    <button class="col-xs-2"><icon class="fa fa-gear"></icon></button>
    </div>
        'Allo {{system.data.user.profile.displayName}}
    <div ng-if="leftbar"><comp element="leftbar"></comp></div>
    <div ng-if="!leftbar">
        <user-info></user-info>
        <ul class="col-xs-12">
            <li ng-repeat="setting in (settings || $parent.settings ||$parent.$parent.settings) | orderByPriority">
                {{ setting.name }}: <prefs ng-model="setting.model" type="setting.type" element="setting.element" placeholder="{{ setting.name }}"></prefs>
            </li>
        </ul>



    </div>
</div>