<div class="left col col-xs-12" ng-class="{open: left}">
    <button class="col-xs-12" ng-click="right=false;left=!left" ng-model="left"></button>
    'Allo {{system.data.user.profile.displayName}}
    <user-info></user-info>
    <ul class="col-xs-12">
        <li ng-repeat="setting in settings | orderByPriority">
            {{ setting.name }}: <prefs ng-model="setting.model" type="setting.type" element="setting.element" placeholder="{{ setting.name }}"></prefs>
        </li>
    </ul>


</div>