<div class="stock col-xs-12">
    <h1 data-fittext="1" data-fittext-min="16" data-fittext-max="56">Stock</h1>

    <div class="row shops">
        <script type="text/ng-template" id="category_list_recur.html">
            <div ng-switch="hasChildCategories(childCat)">
                <a ng-switch-when="true" ng-click="toggleCategory(shopID+'/'+parentID+'/'+childCat.$id)" class="fa fa-fw" ng-class="{'fa-plus':!openCategories[shopID+'/'+parentID+'/'+childCat.$id], 'fa-minus':openCategories[shopID+'/'+parentID+'/'+childCat.$id]}"></a>
                <i ng-switch-when="false" class="fa fa-fw"> </i>

                <input type="checkbox" ng-model="filters.selectedCats[parentName+(parentName?'/':'')+childCat.name]" ng-change="selectedCatToggle(parentName+(parentName?'/':'')+childCat.name)" id="select-cat-{{shopID}}/{{parentName}}/{{childCat.name}}" />
                <label for="select-cat-{{shopID}}/{{parentName}}/{{childCat.name}}"><strong>{{childCat.name}}</strong></label>

                <div ng-switch-when="true" ng-if="childCat.children && openCategories[shopID+'/'+parentID+'/'+childCat.$id]">
                    <span ng-repeat="childCat in childCat.children | orderByPriority | isCategory" ng-include="'category_list_recur.html'" onload="shopID=shopID;parentID=parentID+(parentID?'/':'')+$parent.$parent.$parent.childCat.$id; parentName=parentName+(parentName?'/':'')+$parent.$parent.$parent.childCat.name"></span>
                </div>
            </div>
        </script>

        <div ng-repeat="(shopID, shop) in shops" class="shop-catalog col-xs-4">
            <a ng-show="catalogs[shopID]" ng-click="toggleShop(shopID)" class="fa fa-fw" ng-class="{'fa-plus':!openShops[shopID], 'fa-minus':openShops[shopID]}"></a>
            <input type="checkbox" ng-model="filters.selectedShops[shopID]" ng-change="shopSelected(shopID)" id="select-shop-{{shopID}}" />
            <label for="select-shop-{{shopID}}"><strong>{{shop.name}}</strong></label>
            (<a ng-click="shopLoadInventory(shopID)" ng-show="!loadingInventory[shopID]" class="fa fa-fw fa-refresh"></a><i ng-show="loadingInventory[shopID]" class="fa fa-fw fa-spin fa-spinner"></i><span>{{shopProductCount(shopID)}} products</span>)

            <div ng-show="openShops[shopID] && catalogs[shopID] && catalogs[shopID].children">
                <span ng-repeat="childCat in catalogs[shopID].children | orderByPriority | isCategory" ng-include="'category_list_recur.html'" onload="shopID=shopID;parentID='';parentName=''"></span>
            </div>
        </div>
    </div>

    <div class="row filters" ng-show="totalProductCount()">
        <a ng-click="showFilters=!showFilters">Filters</a>
        <div class="filters" ng-show="showFilters">
            <input type="checkbox" ng-model="filters.matchAll" id="filter-match-all" /> <label for="filter-match-all">Match All Criteria</label><br/>
            <label for="filter-name">Name</label> <input type="text" ng-model="filters.name" id="filter-name" /> <input type="checkbox" ng-model="filters.nameExact" id="filter-name-exact" /> <label for="filter-name-exact">Exact</label><br/>
            <label for="filter-upc">UPC</label> <input type="text" ng-model="filters.upc" id="filter-upc" /> <input type="checkbox" ng-model="filters.upcExact" id="filter-upc-exact" /> <label for="filter-upc-exact">Exact</label><br/>
            <label for="filter-price-low">Price</label> <input type="number" ng-model="filters.priceLow" id="filter-price-low" /> to <input type="number" ng-model="filters.priceHigh" id="filter-price-high" /><br/>
            <label for="filter-stock-low">Stock</label> <input type="number" ng-model="filters.stockLow" id="filter-stock-low" /> to <input type="number" ng-model="filters.stockHigh" id="filter-stock-high" />
            <input type="checkbox" ng-model="filters.changedProducts" id="filter-show-changed" /> <label for="filter-show-changed">Show changed</label><br/>

            <div ng-show="selectedCategoriesCount()">
                Categories:
                <ul>
                    <li ng-repeat="(cCat,cCatSelected) in filters.selectedCats">{{cCat}}</li>
                </ul>
            </div>

        </div>
    </div>
    <div clas="row inventory" ng-show="totalProductCount()">
        <div class="summary">
            <strong>Showing {{filteredProductCount()}}/{{totalProductCount()}} products</strong>
        </div>

        <div class="product-batch" ng-show="productBatchCount()">
            <strong>{{productBatchCount()}} products in batch</strong>
            <ul>
                <li ng-repeat="(cProdID,cProdBatched) in productBatch">{{cProdID}}</li>
            </ul>
            <div>
                <div>
                    <label for="batch-stock">Stock:</label> <input id="batch-stock" ng-model="batch.stock" type="number" />
                </div>
                <div>
                    <label for="batch-sale">Sale:</label> <input id="batch-sale" ng-model="batch.sale" type="text" />
                </div>
            </div>
        </div>

        <div class="products-changed" ng-show="changedProductCount()">
            <strong>{{changedProductCount()}} products changed</strong>
            <ul>
                <li ng-repeat="(cProdID,cProdChanges) in changedProducts">{{cProdID}}:{{cProdChanges}}</li>
            </ul>
        </div>

        <script type="text/ng-template" id="category_select_recur.html">
            <select ng-if="cCat" ng-attr-size="{{shopCount()}}" ng-change="addProductToCategory(prodID,level,cCat)" ng-model="productAddCats[prodID][level]">
                <option value="">-- {{cCat.name}} --</option>
                <option ng-repeat="(subCatID,subCat) in cCat.children | isCategory" ng-value="subCatID">{{subCat.name}}</option>
            </select>
            <div id="pac-{{prodID}}-{{level}}" ng-if="level < productAddCats[prodID].length && productAddCats[prodID][level] && cCat.children[productAddCats[prodID][level]] && cCat.children[productAddCats[prodID][level]].children" ng-include="'category_select_recur.html'" onload="cCat=cCat.children[productAddCats[prodID][level]];level=level+1;">
            </div>
        </script>

        <div class="row">
            <div>
                Show: <span ng-repeat="sort in sortables | orderBy:'priority'">
                <input type="checkbox" ng-model="sort.show" ng-change="setColumnCount()"> {{sort.name | uppercase}}</span>
            </div>

            <table class="stock col-xs-12">
                <thead>
                <tr>
                    <th class="col-controls">&nbsp;</th>
                    <th ng-repeat="sort in sortables | orderBy:'priority'" ng-if="sort.show"><a ng-click="sortBy(sort.name)">{{sort.name | uppercase}}</a><span ng-show="productOrder===sort.name"><span ng-show="!productReverse">*</span><span ng-show="productReverse">**</span></span></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="row" style="height:400px;overflow-y:auto;overflow-x:hidden;" scroll-pages next-page="nextPage()" prev-page="prevPage()" back-scroll="true">
            <div ng-show="inventoryFiltered" style="min-height:410px;overflow:hidden;"><table class="stock col-xs-12">
                <tbody>
                <tr ng-repeat-start="(idx,product) in inventoryFiltered | orderBy:productOrder:productReverse | startAt:showOffset | limitTo:showCount" ng-class="{active: (focusProduct===product.$id), changed: (changedProducts[product.$id]?true:false)}">
                    <td class="col-controls">
                        <input type="checkbox" ng-model="productBatch[product.$id]" ng-change="productBatchToggle(product.$id)" />
                        <a ng-click="toggleProduct(product.$id)" class="fa fa-fw" ng-class="{'fa-plus':!openProducts[product.$id], 'fa-minus':openProducts[product.$id]}"></a>
                    </td>
                    <td class="stock-list" ng-if="sort.show" ng-repeat="sort in sortables | orderBy:'priority'">
                        <span ng-if="sort.type!=='select'">
                            <input type="{{sort.type}}" ng-model="$parent.product[sort.name]" ng-change="productChanged($parent.product.$id, sort.name)" ng-focus="productFocus($parent.product.$id, sort.name)" ng-blur="productBlur($parent.product.$id, sort.name)" />
                        </span>
                        <span ng-if="sort.type==='select'">
                            <span ng-if="sort.name==='category'" ng-repeat="(catShopID,catShop) in $parent.product.shops">
                                <strong>{{shops[catShopID].name}}</strong>
                                <ul>
                                    <li ng-repeat="cShopCat in catShop.categories">{{cShopCat}}</li>
                                </ul>
                            </span>
                            <span ng-if="sort.name!=='category'">
                                {{$parent.product[sort.name]}}
                            </span>
                        </span>
                    </td>
                </tr>
                <tr ng-repeat-end ng-show="openProducts[product.$id]" class="product-full">
                    <td class="col-controls">&nbsp;</td>
                    <td colspan="{{columnCount}}">
                        <div><strong>Add to:</strong> {{productAddCats[product.$id]}}</div>
                        <div class="col-xs-3">
                            <select ng-attr-size="{{shopCount()}}" ng-change="addProductToShop(product.$id)" ng-model="productAddShop[product.$id]">
                                <option value="">-- Choose Shop --</option>
                                <option ng-repeat="(cShopID,cShop) in shops" ng-value="cShopID">{{cShop.name}}</option>
                            </select>

                            <!--select ng-attr-size="{{shopCount()}}" ng-repeat="(pacIdx,paCat) in productAddCats[product.$id]" ng-change="addProductToCategory(product.$id, pacIdx)" ng-model="productAddCats[product.$id][pacIdx+1]" ng-if="productAddCats[product.$id] && productAddShop[product.$id] && catalogs[productAddShop[product.$id]] && (!cCat || (cCat.children && cCat.children[paCat]))" ng-init="cCat=(pacIdx===0)?catalogs[productAddShop[product.$id]]:getChildCat(cCat)">
                                <option value="">-- ({{pacIdx}}:{{paCat}}) {{cCat.name}} --</option>
                                <option ng-repeat="(subCatID,subCat) in cCat.children | isCategory" ng-value="subCatID">{{subCat.name}}</option>
                            </select-->

                            <div ng-if="productAddShop[product.$id] && catalogs[productAddShop[product.$id]] && productAddCats[product.$id]" ng-include="'category_select_recur.html'" onload="prodID=product.$id;level=1;cCat=catalogs[productAddShop[product.$id]]">
                            </div>

                            <!--
                            ng-repeat="(pacIdx, paCatID) in productAddCats[product.$id]"
                                - show a select ng-model=productAddCats[product.$id][pacIdx+1] ng-if
                                    - with options in parentCat.children

                            -->

                            <!--div ng-repeat="(pacIdx, paCat) in productAddCats[product.$id]">
                                halla:{{pacIdx}}:{{paCat}}:{{catalogs[productAddShop[product.$id]].name}}:
                            </div-->

                            <!--select ng-repeat="(pacIdx, paCat) in productAddCats[product.$id]" ng-model="productAddCats[product.$id][pacIdx+1]">
                                <select value="">--{{paCat}}--</select>
                                <select ng-if="pacIdx===0 && catalogs[productAddShop[product.$id]] && catalogs[productAddShop[product.$id]].children" ng-repeat="(subCatID,subCat) in catalogs[productAddShop[product.$id]].children">{{subCat.name}}</select>
                            </select-->

                            <!--select size="4" ng-repeat="(pacIdx,paCat) in productAddCats[product.$id]" ng-model="productAddCats[product.$id][1]" ng-if="productAddShop[product.$id] && catalogs[paCat]" ng-include="'category_select_recur.html'" onload="parentCat=catalogs[paCat];catDepth=1">

                            </select-->
                        </div>


                        <!--div class="col-xs-3" ng-repeat="(cShopID,cShop) in shops" ng-if="catalogs[cShopID] && catalogs[cShopID].children">
                            <label for="{{productID}}-add-to-{{cShopID}}-category">{{cShop.name}}</label>
                            <select id="{{productID}}-add-to-{{cShopID}}-category">
                                <option value="">-- select category --</option>
                                <option ng-repeat="cCat in catalogs[cShopID].children | orderByPriority | isCategory" value="{{cCat.$id}}">{{cCat.name}}</option>
                            </select>

                        </div-->

                        <div>
                            oh ya we be winning the lorem ipsum delorian time travelin' mofreakin zilla squashing building rampage
                        </div>
                    </td>
                </tr>
                </tbody>
            </table></div>
        </div>


    </div>


</div>