@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.css";
@import "bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-max-width-767px.css";
@import "bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.css";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "bower_components/angular-datepicker/dist/index.css";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
@import "views/admin/admin.less";
@import "views/shops/shops.less";
@import "views/tools/tools.less";
@import "views/admin/dashboard/settings/settings.less";
@import "views/shops/store/cart/cart.less";
@import "views/shops/store/store.less";
@import "views/admin/dashboard/settings/prefs/prefs.less";
@import "views/admin/dashboard/orders/orders.less";
@import "views/admin/dashboard/dashboard.less";
@import "views/tools/tool/tool.less";
@import "views/tools/tool/calendar/calendar.less";
@import "views/tools/tool/maps/maps.less";
@import "views/tools/tool/infos/infos.less";
@import "views/tools/tool/messages/messages.less";
@import "views/tools/tool/events/events.less";
@import "test/directive/test.less";
@import "scripts/directives/login/login.less";
@import "views/shops/store/productList/productList.less";
@import "views/shops/store/productView/productView.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}

html, body, .background-img {
  background-image: url("images/bg-img.jpg");
  background-position: top;
  height: 100%;
}
.app {
  background: none;
  border: none;
  box-shadow: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// textarea full-width
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}
.footer-nav {
  position: fixed; bottom: 0; z-index:9991; float: right;
}
.msgevt {
position: fixed;
  height:auto;
  bottom:0;
  right:0;
  max-height: 62%;

}
.side-panels {

  min-height: 280px;
}
.quarter-margin {
  margin-left: .5em;
}
.btn-group.nav-tabs a {
  width:auto;
}

.test-scroll {max-height:300px;}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-bottom: 0px #333;
  box-shadow: 0px 1px 0px #554A47;
}

input:focus, textarea:focus {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-bottom: 1px #333 dotted;
  box-shadow: 0px 1px 0px rgba(0,0,0,0);
  outline: none;
}

// infinite scroll
.scroll-loader {
  min-height: 300px;
  height: 400px;
  overflow: auto;

}

.scroll-loader li,  {
  list-style: none;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  margin-bottom: 3px;
}

.resize-content {

  padding:1em;
  resize: both;
  overflow: auto;
}

.navbar {
  margin-bottom:0px;
}