@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.css";
@import "bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-max-width-767px.css";
@import "bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.css";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "bower_components/angular-datepicker/dist/index.css";
@import "bower_components/bootstrap/less/tooltip.less";
@import "bower_components/bootstrap/less/popovers.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
@import "app/directives/components/cart/cart.less";
@import "app/directives/components/orders/orders.less";
@import "app/directives/components/calendar/calendar.less";
@import "app/directives/components/delivery/delivery";
@import "app/directives/components/infos/infos.less";
@import "app/directives/components/stock/stock.less";
@import "app/directives/components/messages/messages.less";
@import "app/directives/components/events/events.less";
@import "test/directive/test.less";
@import "app/directives/components/login/login.less";
@import "app/directives/components/shop/shop.less";
@import "app/directives/components/userInfo/userInfo.less";
@import "app/directives/layout/topBar/topBar.less";
@import "app/directives/layout/bottomBar/bottomBar.less";
@import "app/directives/layout/leftBar/leftBar.less";
@import "app/directives/layout/rightBar/rightBar.less";
@import "app/directives/layout/breadcrumb/breadcrumb.less";
@import "app/directives/components/activity/activity.less";
@import "app/directives/components/settings/settings.less";
@import "app/directives/layout/search/search.less";
@import "app/directives/layout/setLayout/setLayout.less";
@import "app/directives/layout/omniButton/omniButton";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

html, body, .background-img {overflow:hidden;}
::-webkit-scrollbar{
  width:8px;
  height:8px;
  background-color:transparent;
}
::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,.15);
  border-radius:1% 0 0 1%;
}
::-webkit-scrollbar-thumb:horizontal{
  background-color:rgba(0,0,0,.2);
  border-radius:1% 1% 0 0;
}
::-webkit-scrollbar-thumb:hover{
  background-color:rgba(0,0,0,.2);
  border:0px solid rgba(255,255,255,.2);
}
::-webkit-scrollbar-thumb:active{
  background-color:rgba(0,0,0,.4);
  box-shadow:0 0 2px solid rgba(255,255,255,.4);
}
::-webkit-scrollbar-track{
  border:1px transparent solid;
  border-radius:10px;

}

a {
  color:RGBA(75.00, 100.00, 48.00, 1.00);
  text-shadow:0px 0px 1px rgba(255,255,255,.2);

}
.app {
  background: none;border: none;box-shadow: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



// textarea full-width
textarea {
  -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;
}
.footer-nav {
  position: fixed; bottom: 0; z-index:9991; float: right;
}
.msgevt {
position: fixed;
  height:auto;
  bottom:0;
  right:0;
  max-height: 62%;

}
.side-panels {

  min-height: 280px;
}
.quarter-margin {
  margin-left: .5em;
}
.btn-group.nav-tabs a {
  width:auto;
}

.test-scroll {max-height:300px;}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-bottom: 0px #333;
  box-shadow: 0px 1px 0px #554A47;
}

input:focus, textarea:focus {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-bottom: 1px #333 dotted;
  box-shadow: 0px 1px 0px rgba(0,0,0,0);
  outline: none;
}


.search ::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* ie */
input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f }

// infinite scroll
.scroll-loader {
  min-height: 300px;height: 400px;overflow: auto;
}

.scroll-loader li,  {
  list-style: none;border-bottom: 1px solid #aaa;padding: 5px;margin-bottom: 3px;
}

.resize-content {
  padding:1em;resize:both;overflow:auto;
}
.bubble
{
  position: relative;
  width: 100%;
  height: auto;
  padding: 8px;
  background: rgba(0,0,0,.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.18);
}

.btn:active {
  opacity: .95;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 18px;
  border-color: rgba(0,0,0,.1) transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  top: -18px;
  left: 12%;
}
.add-msg textarea {
  font-size: 1.2em;
  margin: 0px;
  line-height: initial;
  padding: 10% 0 0 0;
}
.msg-snd {
    font-size: 2em;
    display: inline-block;
    position: relative;
    top: 4px;
    right: 22px;
}
.msg-btn button.btn.btn-small {
    width: 100%;
    border-radius: 0px !important;
    margin-bottom: 1em;
}
.msg-box {
  max-height: 200px;
  overflow-y: scroll;
  box-shadow: 1px 2px 5px rgba(0,0,0,.18) inset;
  padding:1em;
  position: relative;
  top: -13px;
  margin-bottom: -21px;
  background: rgba(255,255,255,.9);
}
.my-dropdown-menu .panel-heading {padding-top:0;padding-bottom:0;}

.navbar {
  position: absolute;
}
.my-dropdown-menu {
  z-index: 999;
  float: right;
  min-width: 240px;
  min-height:100%;
  list-style: none;
  font-size: 14px;
  background-color: rgba(255,254,255, .94);
  border: 0px 1px 1px 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.175);
  box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  overflow-x: visible;
  position: relative;
  top: 9px;


}
.my-dropdown-menu ul {padding:0;margin:0}
.my-dropdown-menu .panel {background-color:rgba(255,253,254,.38);line-height: initial;overflow-y:none;}
.my-dropdown-menu .panel-body {background-color:rgba(255,253,254,.38);line-height: initial;overflow-y:scroll;}
.bs-callout-info {
  padding: 1em;background-color: rgba(255,255,255,.8);margin: 1em 0;border-left: 3px solid white;
}

body { margin: 0; overflow:hidden;box-sizing: border-box;}
.rowz, .col {
  overflow-x:hidden; position: absolute;
}
.rowz {background: rgba(255,255,255,.8);}
.body.rowz { top: 8px; bottom: 1em; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
.no-scroll {overflow: hidden}
.fixed-bottom {
  position: fixed;
  background: white;
}
.fixed-top-left {
  width:inherit;
  position:fixed;
  left:1%;
  z-index:100;
  background: #ffffff;
}
.fixed-top-right {
  width:inherit;
  position:fixed;
  right:1%;
  z-index:100;
  background: #ffffff;
}

.left.col {
  left: 1%;width: 18%;bottom: 96px;top: 75px;
  background:RGBA(253.00, 253.00, 254.00, .87) ;box-shadow: 1px 10px 21px rgba(0, 0, 0, .38);border: 1px solid rgba(250, 250, 250, .08);border-left: 2px solid rgba(0, 0, 0, .38);
  z-index:100;
  border-radius: 0 1px 1px 0;
}
.left.col.openlg {
  left: 1%;width: 78%;bottom: 96px;top: 75px;
  background:RGBA(254.00, 254.00, 253.00, .95);box-shadow: 1px 10px 21px rgba(0, 0, 0, .38);border: 1px solid rgba(250, 250, 250, .18);border-left: 4px solid rgba(0, 0, 0, .38);
  z-index:200;

}
.left.col.openmd {
  left: 1%;width: 60%;bottom: 96px;top: 75px;
  background:RGBA(254.00, 254.00, 253.00, .87);
  box-shadow: 1px 10px 21px rgba(0, 0, 0, .38);
  border: 1px solid rgba(250, 250, 250, .18);
  border-left: 1px solid rgba(0, 0, 0, .38);
  z-index:200;
}
.left.col.opensm {
  left: 1%;width: 36%;bottom: 96px;top: 75px;
  background:RGBA(254.00, 254.00, 253.00, .87);
  box-shadow: 1px 10px 21px rgba(0, 0, 0, .38);
  border: 1px solid rgba(250, 250, 250, .18);
  border-left: 1px solid rgba(0, 0, 0, .38);
  z-index:200;
}

.middle.col {
  width: 60%;
  left: 20%; right: 20%; bottom: 0px; top:0px;
  margin:75px 0 99px 0;
}

.right.col {
  width:18%; left: 81%; right: 1%; bottom: 96px; top:75px;
  background:RGBA(253.00, 253.00, 254.00, .87); box-shadow: -1px 10px 21px rgba(0,0,0,.38);border: 1px solid rgba(250, 250, 250, .08);border-right: 2px solid rgba(0, 0, 0, .38);
  z-index:100;
  border-radius: 1px 0 0 1px;
}
.right.col.openlg{
  width: 78%;
  left: inherit;
  right: 1%;
  bottom: 96px;
  top: 75px;
  background: RGBA(254.00, 254.00, 253.00, .95);
  box-shadow: -1px 10px 25px rgba(0, 0, 0, 0.38);
  border: 1px solid rgba(250, 250, 250, 0.18);
  border-right: 4px solid rgba(0, 0, 0, 0.38);
  z-index: 200;
}
.right.col.opensm{
  width: 36%;
  left: inherit;
  right: 1%;
  bottom: 96px;
  top: 75px;
  background: RGBA(254.00, 254.00, 253.00, .89);
  box-shadow: -1px 10px 25px rgba(0, 0, 0, 0.38);
  border: 1px solid rgba(250, 250, 250, 0.18);
  border-right: 4px solid rgba(0, 0, 0, 0.38);
  z-index: 200;
}
.right.col.openmd{
  width: 60%;
  left: inherit;
  right: 1%;
  bottom: 96px;
  top: 75px;
  background: RGBA(254.00, 254.00, 253.00, .92);
  box-shadow: -1px 10px 25px rgba(0, 0, 0, 0.38);
  border: 1px solid rgba(250, 250, 250, 0.18);
  border-right: 4px solid rgba(0, 0, 0, 0.38);
  z-index: 200;
}

.header.rowz { width:101%; height: 62px; max-height: 62px; overflow: visible; z-index: 350!important; background:RGBA(232.00, 231.00, 231.00, .98);border-top: 2px solid rgba(250,250,250,.25);box-shadow: 0px 1px 2px rgba(0,0,0,.38);padding-top:1%}


.footer.rowz { overflow:visible; max-height: 81px; height: 81px; bottom: 0; background:RGBA(237.00, 239.00, 240.00, .91); width: 101%;border-bottom: 3px solid rgba(0,0,0,.38);border-top: 1px solid rgba(250,250,250,.19);z-index: 300}



.category li {display: inline-block; list-style-type:none;}
.foots {
  font-size: 1.2em;
  max-height: 71px;

  margin: 2px 0;
  background:none;
  padding: 2px 1em;
}

.footnav {
  line-height: 25px !important;
  margin-top: 8px !important;
}

.main {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  max-height: 100%;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: RGBA(87.00, 103.00, 100.00, 1.00);
  }

.fa-stack-1x, .fa-stack-2x {
  text-shadow: 3px 3px 1px rgba(0,0,0,.2);
  opacity: .91;
}
.footnav p {
  position: relative;
  top: 26px;
}

.gn-show {
  display:block!important;
}
.gn-hide {
  display: none;
}


.animate-enter,
.animate-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

.overlay {
  top: 64px;
  bottom: 84px;
  left:.6%;
  right:.6%;
}
.overlay .overlay-inner > .overlay-background {
  z-index: 110;
}

.overlay .overlay-inner > .overlay-content {

  z-index: 200;

}

.eco-alert {
  position:absolute;
  width: 100%;
  max-height:100px;
  overflow-y: scroll;
  z-index: 10000;
  top:5px;
  text-align:center;
}