@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.css";
@import "bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-max-width-767px.css";
@import "bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.css";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@import "bower_components/angular-datepicker/dist/index.css";
@import "bower_components/bootstrap/less/tooltip.less";
@import "bower_components/bootstrap/less/popovers.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
@import "views/admin/admin.less";
@import "views/shops/shops.less";
@import "views/tools/tools.less";
@import "views/admin/dashboard/settings/settings.less";
@import "views/shops/store/cart/cart.less";
@import "views/shops/store/store.less";
@import "views/admin/dashboard/settings/prefs/prefs.less";
@import "views/admin/dashboard/orders/orders.less";
@import "views/admin/dashboard/dashboard.less";
@import "views/tools/tool/tool.less";
@import "views/tools/tool/calendar/calendar.less";
@import "views/tools/tool/maps/maps.less";
@import "views/tools/tool/infos/infos.less";
@import "views/tools/tool/messages/messages.less";
@import "views/tools/tool/events/events.less";
@import "test/directive/test.less";
@import "scripts/directives/login/login.less";
@import "views/shops/store/productList/productList.less";
@import "views/shops/store/productView/productView.less";
@import "scripts/directives/userInfo/userInfo.less";
@import "scripts/directives/layout/topBar/topBar.less";
@import "scripts/directives/layout/bottomBar/bottomBar.less";
@import "scripts/directives/layout/leftBar/leftBar.less";
@import "scripts/directives/layout/rightBar/rightBar.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}

html, body, .background-img {

}
.app {
  background: none;
  border: none;
  box-shadow: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// textarea full-width
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}
.footer-nav {
  position: fixed; bottom: 0; z-index:9991; float: right;
}
.msgevt {
position: fixed;
  height:auto;
  bottom:0;
  right:0;
  max-height: 62%;

}
.side-panels {

  min-height: 280px;
}
.quarter-margin {
  margin-left: .5em;
}
.btn-group.nav-tabs a {
  width:auto;
}

.test-scroll {max-height:300px;}

input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-bottom: 0px #333;
  box-shadow: 0px 1px 0px #554A47;
}

input:focus, textarea:focus {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  border-bottom: 1px #333 dotted;
  box-shadow: 0px 1px 0px rgba(0,0,0,0);
  outline: none;
}


.search ::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }
::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* firefox 19+ */
:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* ie */
input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f }

// infinite scroll
.scroll-loader {
  min-height: 300px;
  height: 400px;
  overflow: auto;

}

.scroll-loader li,  {
  list-style: none;
  border-bottom: 1px solid #aaa;
  padding: 5px;
  margin-bottom: 3px;
}

.resize-content {

  padding:1em;
  resize: both;
  overflow: auto;
}

.navbar {
  margin-bottom:0px;
  overflow: auto;
  max-height: 75px;
}

.bs-callout-info {
  padding: 1em;
  background-color: rgba(255,255,255,.8);

  margin: 1em 0;

  border-left: 3px solid white;
}

body { margin: 0; overflow:hidden;box-sizing: border-box;}
.rowz, .col {
  overflow-y: scroll; overflow-x:hidden; position: absolute;
}
.rowz {background: rgba(255,255,255,.8);}
.body.rowz { top: 8px; bottom: 1em; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
.no-scroll {overflow: hidden}
.left.col {
  left: 1%;
  width: 18%;
  bottom: 96px;
  top: 75px;
  background: RGBA(137.00, 151.00, 117.00, .62);
  opacity: .9;
  box-shadow: 1px 10px 21px rgba(0, 0, 0, .38);
  border: 1px solid rgba(250, 250, 250, .38);
  border-left: 2px solid rgba(0, 0, 0, .38);
  z-index:100;
}
.middle.col {
  width: 62%;
  left: 19%; right: 19%; bottom: 0px; top:0px;
  margin:75px 0 99px 0}

.right.col {
  width:18%; left: 81%; right: 1%; bottom: 96px; top:75px;
  background:RGBA(137.00, 151.00, 117.00, .62); opacity:.9;
  box-shadow: -1px 10px 21px rgba(0,0,0,.38);
  border: 1px solid rgba(250, 250, 250, .38);
  border-right: 2px solid rgba(0, 0, 0, .38);
  z-index:100;
}
.header.rowz { width:101%; height: 62px; max-height: 62px; line-height: 62px; overflow: scroll; z-index: 100!important; opacity:.9; background:RGBA(232.00, 231.00, 231.00, 1.00);border-top: 2px solid rgba(250,250,250,.25);box-shadow: 0px 1px 2px rgba(0,0,0,.38);}


.footer.rowz { overflow:hidden;max-height: 81px; height: 81px; bottom: 0; line-height: 81px;  opacity:.9; background:RGBA(237.00, 239.00, 240.00, .98); width: 101%;border-bottom: 3px solid rgba(0,0,0,.38);border-top: 1px solid rgba(250,250,250,.19);}
.footer div {
  max-height: 71px;
  margin: 2px 0;
  line-height: 71px;
  vertical-align: middle;
  height: 71px;
  display: inline-block;
}
.search {
  font-size: 2em;
  max-height: 71px;
  margin: 2px 0;
  background: rgba(255,255,255,.8);
  padding: 2px 1em;
  width: 100%;
}

.foots {
  font-size: 1.2em;
  max-height: 71px;
  min-height: 71px;
  margin: 2px 0;
  background:none;
  padding: 2px 1em;
}
.breadcrumbs {
  line-height: 25px !important;
}
.footnav {
  line-height: 25px !important;
  margin-top: 16px !important;
}

.main {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  max-height: 100%;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background: RGBA(87.00, 103.00, 100.00, 1.00);
  }

//Anima

*::-webkit-scrollbar {
  visibility: hidden;
  width: 45px;
  height: 3px;
}

.fa-stack-1x, .fa-stack-2x {
  text-shadow: 3px 3px 1px rgba(0,0,0,.2);
  opacity: .91;
}
.footnav p {
  position: relative;
  top: 26px;
}