<div class="header rowz">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <img ng-src="http://ecossentials.ca/images/eco-logo.png" style="margin-top:16px;float:left;width: initial;">
        </div>
        <div class="col-xs-9 pull-right">
            <div class="" ng-repeat="icon in notificationIcons">
                <a class="col-xs-1 pull-right"><i class="fa fa-{{icon.icon}} btn btn-lg center"></i></a>
            </div>
        </div>


    </div>
    <div ui-view="1@ecoApp.nav"></div>
    <div ui-view="2@ecoApp.nav"></div>
</div>

<div class="left col col-xs-12">
    <span ui-view="1@ecoApp.nav.not.tools"></span>
    <span ui-view="2@ecoApp.nav.not.tools"></span>
</div>

<div class="middle col ">
    <div class="body rowz col-xs-12 ">
        <div class="scroll-x well">
                <div ui-view="{{view}}"></div>
        </div>
    </div>
</div>
        <div class="right col col-xs-12">
            <div ui-view="1@ecoApp.nav.not"></div>
            <div ui-view="2@ecoApp.nav.not"></div>
        </div>

    <div class="footer rowz col-xs-12">
        <div class="col-xs-4">
            <div class="foots breadcrumbs">
                <span ng-repeat="cPath in shopState.path">
                    <a ng-if="cPath.path" ui-sref="ecoApp.nav.not.tools.settings(stateParamsSetPath(cPath.path))">/ {{cPath.name}}</a>
                    <strong ng-if="!cPath.path"><br> {{cPath.name}}</strong>
                </span>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="search">
                <input placeholder="Search">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="col-xs-12"   >
                <div class="col-xs-4 text-center footnav fa-lg" ng-repeat="icon in navigationIcons"><a><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-{{icon.icon}} fa-2x fa-fw fa-stack-1x "> </i><br>{{icon.name}}<center></center></a></div>
            </div>
        </div>
    </div>

<div overlay="loginOverlay">
    <login></login>
</div>