<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
      <li><a ui-sref="main.admin.views">Admin</a></li>
    <li><a ui-sref="main.shops.views">Shop</a></li>
      <li><a ui-sref="main.tools.views">Tools</a></li>

    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a ui-sref="main.login">Log In</a></li>
  </ul>
  <h3 class="text-muted">ecopos</h3>
    <input ng-model="widget">{{ widget }}{{ userz }}

    <div ng-show="user.id">
        Logged in as {{ user.id }} [{{ activeRole }}]<br/>
        <span ng-repeat="(role, assigned) in user.bind.roles" ng-if="assigned">
            <label>{{ role }}</label> <input type="radio" name="roleSelect" value="{{ role }}" ng-model="$parent.$parent.activeRole" />
        </span>
        <div>
            <button ng-click="msgsChecked=!msgsChecked" ng-hide="msgsChecked">Show Messages</button>
            <button ng-click="msgsChecked=!msgsChecked" ng-show="msgsChecked">Hide Messages</button>

            <div ng-show="msgsChecked">
                <messages></messages>
            </div>
        </div>

        <div>
            <h4>Events</h4>
            {{ user.events }}
            <fieldet>
                <legend>New Event</legend>
                <div>
                    <label>Title</label>
                    <input type="text" ng-model="newEvent.title" />
                </div>

                <div>
                    <label>Description</label>
                    <textarea ng-model="newEvent.description"></textarea>
                </div>
                <div>
                    <label>Users</label>
                    <!-- input type="text" ng-model="newEvent.users" /-->
                    <select ng-model="newEvent.users" multiple="multiple">
                        <option ng-repeat="username in users" value="{{ username }}">{{ username }}</option>
                    </select>
                </div>
                <div>
                    <label>Type</label>

                    <label>Calendar</label>
                    <input type="checkbox" ng-model="newEvent.type.calendar" />

                    <label>To-Do</label>
                    <input type="checkbox" ng-model="newEvent.type.todo" />
                </div>
                <div>
                    <label>Date</label><br/>
                    <label>No Date</label>
                    <input type="checkbox" ng-model="newEvent.noDate" />
                    <div ng-hide="newEvent.noDate">
                        <div date-picker="newEvent.date" view="month"></div>
                    </div>
                </div>

                <button ng-click="createEvent()">Create Event</button>

                {{ newEvent }}

            </fieldet>
        </div>
    </div>


</div>

  <h3>♥</h3>
        <div ui-view autoscroll="false"></div>
</div>
