<div class="col-xs-12 supplier-update">
    <h1 data-fittext="1" data-fittext-min="16" data-fittext-max="56">Supplier Update</h1>
    <div ng-show="imports.errors">
        <ul class="errors">
            <li ng-repeat="error in imports.errors">{{error}}</li>
        </ul>
    </div>
    <div ng-show="imports.config">
        <select ng-model="imports.active.configID">
            <option ng-repeat="(importID,import) in imports.config" ng-value="importID">{{import.name}}</option>
        </select>

        <div ng-show="imports.active.configID && imports.config[imports.active.configID]">
            <p>{{imports.config[imports.active.configID].name}} selected.</p>
            <p>
                Please select a CSV file to import.<br/>
                <input type="file" eco-files="imports.active.sourceFile" />
            </p>
            <p>
                <label for="import-key-name">{{imports.config[imports.active.configID].keyFieldName}}</label>
                <select id="import-key-name" ng-model="imports.active.importKey">
                    <option value="">-- New {{imports.config[imports.active.configID].keyFieldName}} --</option>
                    <option ng-repeat="(importKey, importKeyInfo) in imports.config[imports.active.configID].keys" ng-value="importKey" ng-selected="importKey===imports.active.importKey">{{importKeyInfo.value}}</option>
                </select>
            </p>
            <p ng-show="!imports.active.importKey">
                <input type="text" ng-model="imports.active.importKeyValue" placeholder="New {{imports.config[imports.active.configID].keyFieldName}}" />
            </p>

            <button class="btn btn-primary" ng-show="imports.active.sourceFile" ng-click="import()">Import</button>
        </div>
    </div>
</div>
