<div>
    <i ng-click="addNewMenu=!addNewMenu" class="fa fa-2x fa-plus"></i>
    <div class="col-xs-12 add-new" ng-show="addNewMenu">
        <h4 class="fa fa-plus"> Add New..</h4>
        <div ng-repeat="(newID,newOne) in addNewThings"  >
            <h5 ng-click="addNewThing=!addNewThing"><i class="fa-fw fa fa-{{newOne.icon}}"></i> {{newID | uppercase}}</h5>
            <div ng-show="addNewThing">
                <form name="theform" ng-submit="addNew[newID](theform.$valid)" novalidate>
                <div ng-repeat="option in newOne.options">
                    <input
                        name="$parent.option.model"
                        ng-if="option.type!=='select'"
                        type="{{option.type}}"
                        ng-model="$parent.option.name"
                        placeholder="{{$parent.option.model}}"
                        ng-minlength="3" ng-maxlength="8"
                        required
                        novalidate
                    >
                    <select ng-if="option.type==='select'" ng-model="$parent.option.name" ng-options="user as user for user in $parent.option.options">
                        <option value="">Choose</option>
                    </select>
                </div>
                <button ng-disabled="theform.$invalid || theform.name.$pristine"
                    type="submit"
                    >
                <!-- $parent.addNewMenu=false;addNewThing=false; -->

                    Save {{newID}}
                </button>
                </form>
            </div>
        </div>
    </div>
</div>