<div>
    {{shopName}} Products
'{{shopState.categoryID}}'

    <ul class="breadcrumb">
        <li ng-repeat="cPath in shopState.path"><a ng-if="cPath.path" ui-sref="ecoApp.nav.not.tools.settings(stateParamsSetPath(cPath.path))">{{cPath.name}}</a><strong ng-if="!cPath.path">{{cPath.name}}</strong></li>
    </ul>
    <input type="text" ng-model="shopState.search" />
    <div>
        <h4>Products</h4>
        <ul ng-if="shopState.category && !shopState.product">
            <li ng-repeat="(childName,child) in shopState.category.children | orderByPriority | filter:isProduct | filter:shopState.search track by $index">
                <a ng-if="!child.children" ui-sref="ecoApp.nav.not.tools.settings(stateParamsSetPath(shopState.categoryID+'/'+child.url))">{{child.name}}</a>
                <div ng-show="inventory[child.$id]">
                    werd:{{inventory[child.$id]}}
                </div>
            </li>
        </ul>
    </div>

    <div>
        <h4>Sub-Categories</h4>
        <ul ng-if="shopState.category && !shopState.product">
            <li ng-repeat="(childName,child) in shopState.category.children | orderByPriority | filter:isCategory | filter:shopState.search track by $index">
                <a ng-if="child.children" ui-sref="ecoApp.nav.not.tools.settings(stateParamsSetPath(shopState.categoryID+'/'+child.$id))">{{child.name}}</a>
            </li>
        </ul>
    </div>


    <div ng-if="shopState.product">
        id#{{shopState.product.$id}}
        <h4>
            <span ng-hide="user.activeRole==='admin'" ng-if="shopState.product.brand">{{shopState.product.brand}} </span>
            <input ng-show="user.activeRole==='admin'" ng-model="shopState.product.brand" type="text" />

            <span ng-hide="user.activeRole==='admin'" ng-if="shopState.product.name">{{shopState.product.name}}</span>
            <input ng-show="user.activeRole==='admin'" ng-model="shopState.product.name" type="text" />

            <span ng-if="shopState.product.size && !shopState.product.bulk"> ({{shopState.product.size}})</span>
            <span ng-if="shopState.product.bulk"> (Bulk)</span>
        </h4>
        <span ng-if="shopState.product.price && !shopState.product.bulk">{{shopState.product.price | currency}}</span>
        <span ng-if="shopState.product.price && shopState.product.bulk">{{shopState.product.price | bulkPrice:shopState.product.unit:shopState.product.size:'g':100 | currency}}/100g</span>
        <div ng-show="user.activeRole==='admin'" ng-if="shopState.product.bulk">$<input ng-model="shopState.product.price" type="text" />/<input ng-model="shopState.product.size" type="text" /><select ng-model="shopState.product.unit"><option value="lb">lb</option><option value="g">g</option></select></div>

        <div ng-show="user.activeRole==='admin'">
            <button ng-click="saveProduct(shopState.product)" class="btn-danger">Save Product</button>
        </div>

        <div>{{shopState.product}}</div>
    </div>
    <!--div ng-if="shopState.product">
        <h4 ng-hide="shopState.product.fullData">{{shopState.product.name}}</h4>
        <div ng-show="shopState.product.fullData">
            id#{{shopState.product.fullData.$id}}
            <h4>
                <span ng-hide="user.activeRole==='admin'" ng-if="shopState.product.fullData.brand">{{shopState.product.fullData.brand}} </span>
                <input ng-show="user.activeRole==='admin'" ng-model="shopState.product.fullData.brand" type="text" />

                <span ng-hide="user.activeRole==='admin'" ng-if="shopState.product.fullData.name">{{shopState.product.fullData.name}}</span>
                <input ng-show="user.activeRole==='admin'" ng-model="shopState.product.fullData.name" type="text" />

                <span ng-if="shopState.product.fullData.size && !shopState.product.fullData.bulk"> ({{shopState.product.fullData.size}})</span>
                <span ng-if="shopState.product.fullData.bulk"> (Bulk)</span>
            </h4>
            <span ng-if="shopState.product.fullData.price && !shopState.product.fullData.bulk">{{shopState.product.fullData.price | currency}}</span>
            <span ng-if="shopState.product.fullData.price && shopState.product.fullData.bulk">{{shopState.product.fullData.price | bulkPrice:shopState.product.fullData.unit:shopState.product.fullData.size:'g':100 | currency}}/100g</span>
            <div ng-show="user.activeRole==='admin'" ng-if="shopState.product.fullData.bulk">$<input ng-model="shopState.product.fullData.price" type="text" />/<input ng-model="shopState.product.fullData.size" type="text" /><select ng-model="shopState.product.fullData.unit"><option value="lb">lb</option><option value="g">g</option></select></div>

            <div ng-show="user.activeRole==='admin'">
                <button ng-click="saveProduct(shopState.product.fullData)" class="btn-danger">Save Product</button>
            </div>

            <div>{{shopState.product.fullData}}</div>
        </div>

    </div-->
</div>