<div>
    <div class="col-xs-12 btn-group">
        <div class="col-xs-3 text-center footnav fa-lg" ng-mouseover="navPop=true" ng-mouseleave="navPop=false" ng-repeat="icon in navify">
            <div class="btn">
                <i class="fa fa-{{icon.icon}} fa-2x fa-fw fa-stack-1x" ng-click="$parent.barSize(icon.name, icon.actions[(actionCountLeft || actionCountRight)])"> </i>
            </div>
            <div ng-show="navPop" class="nav-pop" >
                <div ng-repeat="component in components  | orderBy:'priority'">
                    <button ng-mouseover="componentName=true;" ng-mouseleave="componentName=false;" class="btn-success btn-sm col-xs-12" eco-ref="$parent.$parent.system.data.params.data.path +'/?'+ $parent.icon.name +'='+component.name">
                        <div class="fa fa-2x fa-{{component.icon}}"></div>
                        <div ng-show="componentName">{{component.name}}</div>
                    </button>

                </div>
            </div>
        </div>

    </div>

</div>