<div class="col-xs-12 cart">
    <div ng-init="buildingCart=true" ng-show="buildingCart">
        <div class="col-xs-8">
            <span><div>Open Orders</div><select ng-hide="removeOrderConfirm" ng-model="user.activeOrder" ng-change="activateOrder()">
                <option value="new">-- New Order --</option>
                <option ng-repeat="(orderIdx,order) in orders | orderByPriority" value="{{order.$id}}" ng-selected="order.$id===user.activeOrder">{{order.name}}</option>
            </select></span>
            <span ng-hide="removeOrderConfirm" ng-click="removeOrderConfirm=true">[x]</span>
            <div ng-show="removeOrderConfirm"><button ng-click="removeOrder(); removeOrderConfirm=false">Remove Order?</button><a ng-click="removeOrderConfirm=false">No</a></div>
        </div>
        <div class="col-xs-4 pull-right">
            <button class="col-xs-12" ng-click="choosePaymentOptions=true;buildingCart=false" >{{total() | currency}}</button>
        </div>

        <table class="table">
            <tr>
                <th class="col-xs-6">Item</th>
                <th class="col-xs-2">Price</th>
                <th class="col-xs-1">Qtq</th>
                <th class="col-xs-2">Total</th>
                <th class="col-xs-1">-</th>
            </tr>

            <tr ng-repeat="(productID, item) in items">
                <td class="col-xs-6" data-title="'Item'">{{ item.name }}</td>
                <td class="col-xs-2" data-title="'Price'">{{ item.price }} / {{ item.unitType }}</td>
                <td class="col-xs-1" data-title="Qty">
                    <input ng-show="order.status===0" ng-model="item.qty" ng-change="productQty(productID)">{{item.qty}}
                    <span ng-show="order.status!==0">{{item.qty}}</span>
                </td>
                <td class="col-xs-2" data-title="'Item Total'">{{item.qty * item.price | currency}}</td>
                <td class="col-xs-1">
                    <span ng-hide="removeItemConfirm" ng-click="removeItemConfirm=true">[x]</span>
                    <div ng-show="removeItemConfirm"><button ng-click="removeItem(productID);removeItemConfirm=false">Remove Item?</button> <a ng-click="removeItemConfirm=false">No</a></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="col-xs-3"></td>
                <td colspan="3" class="col-xs-7"><strong>Order Total:</strong></td>
                <td class="col-xs-2" data-title="'Order Total'">{{total() | currency}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="choosePaymentOptions">
        {{paymentMethod}}
        <div ng-repeat="method in paymentMethods">
            <div class="col-xs-4">
                <div class="well" ng-click="$parent.paymentMethod = method.name;">
                    {{method.name}}
                </div>
            </div>
        </div>
        <button ng-click="inputPayment=true;choosePaymentOptions=false">Input Payment</button><button ng-click="buildingCart=true;choosePaymentOptions=false">Back to Cart</button></div>
    <div ng-show="inputPayment">
        <div ng-show="order.status!==0">
        <div>
            <label for="payAmt">Payment Amount</label>
            <input type="number" ng-model="payAmt" id="payAmt" />
        </div>
        <div ng-show="payAmt > 0">
            <span ng-show="payAmt >= total()"><strong>Change: </strong>{{ (payAmt-total()) | currency}}</span>
            <span ng-show="payAmt < total()"><strong>Balance: </strong>{{ (total()-payAmt) | currency}}</span>
        </div>

        <button class="btn-success" ng-click="makePayment()">Make Payment</button>
    </div>
        <button ng-click="finishOrder=true;inputPayment=false">Finish Order</button><button ng-click="choosePaymentOptions=true;inputPayment=false">Back to choose payment options</button></div>
    <div ng-show="finishOrder">
        <div ng-show="order.status===0">
            <label for="cart-delivery-flag">Delivery: </label>
            <input type="checkbox" id="cart-delivery-flag" ng-model="invoice.delivery" />
        </div>
        <div ng-show="order.status===0">
            <button class="btn-success" ng-click="checkout()">Checkout</button>
        </div>
        <button ng-click="completeOrder=true;finishOrder=false">Complete Order</button><button ng-click="inputPayment=true;finishOrder=false">Back to order finish</button></div>
    <div ng-show="completeOrder">Thank you, print or email receipt <button ng-click="finishOrder=true;completeOrder=false">Back</button></div>





</div>
