<div>
<!-- <div class="col-xs-12 orders">
    <h1 data-fittext="1" data-fittext-min="16" data-fittext-max="56">Orders</h1>

    <div ng-if="order|| $parent.order">Hello Specific Order</div>

    <div class="row">
        <div>
            Show:
            <span ng-repeat="sort in sortables | orderBy: priority ">
                <label for="sort-toggle-{{sort.name}}" ng-if="sort.title">{{sort.title | uppercase}}</label><label for="sort-toggle-{{sort.name}}" ng-if="!sort.title">{{sort.name | uppercase}}</label>
                <input type="checkbox" ng-model="sort.show" id="sort-toggle-{{sort.name}}" ng-change="setColumnCount()">
            </span>
        </div>

        <table class="orders col-xs-12">
            <thead>
            <tr>
                <th class="col-controls">&nbsp;</th>
                <th ng-repeat="sort in sortables | orderBy: priority " ng-if="sort.show"><a ng-click="sortBy(sort.name)"><span ng-if="sort.title">{{sort.title | uppercase}}</span><span ng-if="!sort.title">{{sort.name | uppercase}}</span></a><span ng-show="orderSort===sort.name"><i class="fa fa-fw" ng-class="{ fa-sort-asc : !sortReverse,  fa-sort-desc : sortReverse}"></i></span></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="row" style="height:400px;overflow-y:auto;overflow-x:hidden;" scroll-pages next-page="nextPage()" prev-page="prevPage()" back-scroll="true">
        <div ng-show="ordersFiltered" style="min-height:410px;overflow:hidden;"><table class="orders col-xs-12">
            <tbody>
            <tr ng-repeat-start="(idx,order) in ordersFiltered | orderBy:orderSort:sortReverse | startAt:showOffset | limitTo:showCount" ng-class="{active: (focusOrder===order.$id), changed: (changedOrders[order.$id]?true:false)}">
                <td class="col-controls">
                    <input type="checkbox" ng-model="orderBatch[order.$id]" ng-change="orderBatchToggle(order.$id)" />
                    <a ng-click="toggleOrder(order.$id)"><i class="fa fa-fw" ng-class="{ fa-plus-square :!openOrders[order.$id],  fa-minus-square :openOrders[order.$id]}"></i></a>
                </td>
                <td class="order-list" ng-if="sort.show" ng-repeat="sort in sortables | orderBy: priority " ng-switch="sort.type">
                    <span ng-switch-when="static">
                        {{order[sort.name]}}
                    </span>
                    <span ng-switch-when="date">
                        {{order[sort.name] | date: yyyy-MM-dd @ h:mm a }}
                    </span>
                    <span ng-switch-default>
                        <input type="{{sort.type}}" ng-model="order[sort.name]" ng-change="orderChanged(order.$id, sort.name)" ng-focus="orderFocus(order.$id, sort.name)" ng-blur="orderBlur(order.$id, sort.name)" />
                    </span>
                </td>
            </tr>
            <tr ng-repeat-end ng-show="openOrders[order.$id]" class="order-full">
                <td class="col-controls">&nbsp;</td>
                <td colspan="{{columnCount}}">
                    TODO: Build the full order form here ;)
                    {{order}}
                </td>
            </tr>
            </tbody>
        </table></div>
    </div>
</div>
-->
    <article class="orders container-vertical" ng-hide="showOrder">
        <section class="vertical-span12 col-xs-2 filters">
            Filters
        </section>
        <section class="vertical-span12 col-xs-10 orders">
            <div class="vertical-span1 col-xs-12">
                <span class="col-xs-2">
                    <h5>Table Options:</h5>
                </span>
                <span class="col-xs-10">
                    <input type="checkbox"> Order #
                    <input type="checkbox"> Date
                    <input type="checkbox"> Type
                    <input type="checkbox"> Items
                    <input type="checkbox"> Total
                </span>
            </div>
            <div class="table-responsive col-xs-12 vertical-span9">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>Order#</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Items</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tr ng-mouseenter="expandOptions=true">
                        <td><input type="checkbox"></td>
                        <td ng-click="showOrder=true"><a href>51345</a></td>
                        <td>Mar 2</td>
                        <td>Sale</td>
                        <td>Apples</td>
                        <td>$2.50</td>
                    </tr>
                    <tr ng-mouseleave="expandOptions=false" ng-show="expandOptions">
                        <td>
                            <div></div>
                        </td>
                        <td col-span="5" >
                            <div>Some low down</div>
                        </td>

                    </tr>
                    <tr ng-mouseenter="expandOptions1=true">
                        <td><input type="checkbox"></td>
                        <td ng-click="showOrder=true"><a href>51345</a></td>
                        <td>Mar 2</td>
                        <td>Sale</td>
                        <td>Apples</td>
                        <td>$2.50</td>
                    </tr>
                    <tr ng-mouseleave="expandOptions1=false"ng-show="expandOptions1">
                        <td>
                            <div></div>
                        </td>
                        <td col-span="5" >
                            <div>Some low down</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="vertical-span1 col-xs-12 ">
                <hr>
                Table Totals
            </div>
        </section>
    </article>
    <article class="orders container-vertical" ng-show="showOrder">
        <section class="vertical-span12 col-xs-1 filters">
            <button class="col-xs-12" ng-click="showOrder=!showOrder"><i class="fa-arrow-left fa"></i></button>
        </section>
        <section class="vertical-span12 col-xs-11">
            <div class="vertical-span2 col-xs-2">
                Order <h4>451536</h4>
            </div>
            <div class="vertical-span2 col-xs-2">
                Type <h4>Sale</h4>
            </div>
            <div class="vertical-span2 col-xs-2">
                Customer <h4><a class="green-text">Patrick Longo</a></h4>
            </div>
            <div class="vertical-span2 col-xs-2">

            </div>
            <div class="vertical-span2 col-xs-2">
                Status <h4>Open <i class="fa fa-caret-down"></i></h4>
            </div>
            <div class="vertical-span2 col-xs-2">
                Total <h4>$321</h4>
            </div>
            <div class="vertical-span10 col-xs-6">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Mangos</td>
                            <td>12/lb</td>
                            <td>4lbs</td>
                            <td>$48</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Calcium Deposits</td>
                            <td>1/g</td>
                            <td>4g</td>
                            <td>$4</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td><b>Tax:</b></td>
                            <td><b>$180</b></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td><b>Total:</b></td>
                            <td><b>$321</b></td>
                        </tr>
                        <tr>
                            <td>Payments:</td>
                            <td>$210</td>
                            <td></td>
                            <td><b>Balance:</b></td>
                            <td><b>$111</b></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="vertical-span10 col-xs-6">
                <div class="vertical-span1 col-xs-12">
                    <button class="col-xs-4" ng-click="showOrderActivity=true;showOrderMessages=false;showOrderNotes=false">Activity</button>
                    <button class="col-xs-4" ng-click="showOrderMessages=true;showOrderNotes=false;showOrderActivity=false">Messages</button>
                    <button class="col-xs-4" ng-click="showOrderNotes=true;showOrderMessages=false;showOrderActivity=false">Notes</button>
                </div>
                <div class="vertical-span10 col-xs-12">
                    <div class="table-responsive" ng-if="showOrderActivity">
                        <table class="table well">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Date / Time</th>
                                    <th>Activity</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><i class="fa fa-folder-open"></i></td>
                                <td>May 9th, 12:30pm</td>
                                <td><a class="blue-text">Melissa Call</a> opened this order for <a class="green-text">Patrick Longo</a> at the till.</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-dollar"></i></td>
                                <td>May 9th, 12:30pm</td>
                                <td><a class="green-text">Patrick Longo</a> paid <b>$210</b> with cash.</td>
                            </tr>
                        </table>
                    </div>
                    <div class="vertical-span12" ng-if="showOrderMessages">
                        <div class="vertical-span9 col-xs-2">
                            <button class="fa fa-inbox"></button>
                            <button class="fa fa-plus"></button>
                        </div>
                        <div class="vertical-span9 col-xs-10 well scroll-y">
                            <b>Patrick Longo says,</b>
                            <h5 class="green-text">Can I get this in red?</h5>
                            <b>You replied,</b>
                            <h5 class="blue-text">Of course!</h5>
                        </div>
                        <div class="vertical-span2 col-xs-10 pull-right">
                            <button class="vertical-span12 col-xs-3 pull-right">Reply</button>
                            <textarea class="vertical-span12 col-xs-9" placeholder="Enter Message"></textarea>
                        </div>
                    </div>
                    <div class="vertical-span12 " ng-if="showOrderNotes">
                        <div class="vertical-span12 col-xs-1">
                            <button class="fa fa-plus" ng-click="showAddNote=!showAddNote">
                            </button>
                        </div>
                        <div class="vertical-span3 col-xs-10 well" ng-if="showAddNote">
                            <textarea class="vertical-span10 col-xs-9" placeholder="Jot your thought.."></textarea>
                            <input class="vertical-span2 col-xs-3" ng-if="showAddNote" type="text" placeholder="add tags">
                            <button class="vertical-span8 col-xs-3">Post</button>
                            <a class="vertical-span1 pull-right" ng-click="$parent.showAddNote=!$parent.showAddNote">Nevermind</a>
                        </div>
                        <div ng-init="testCopy= 'Aint guna lie, im a fckn rider but yall all wanan fux wifs me ain t guna lie, i m a fckn rider but y all all wanan fux wifs me ain t guna lie, i m a fckn rider but y all all wanan fux wifs me ain t guna lie, i m a fckn rider but y all all wanan fux wifs me ain t guna lie, i m a fckn rider but y all all wanan fux wifs me'" class="vertical-span12 col-xs-11 scroll-y">
                            <div class="vertical-span6">
                                <div class="vertical-span1 pull-right"><code>Nov2 8:42pm</code></div>
                                <div class="vertical-span8 scroll-y well" ng-hide="showEditNote" ng-click="showEditNote=true">
                                    {{testCopy}}
                                </div>
                                <button ng-show="showEditNote" class="vertical-span2 pull-right" ng-click="showEditNote=false">Finished</button>
                                <textarea ng-show="showEditNote" class="vertical-span8 scroll-y" ng-model="testCopy"></textarea>
                                <div class="vertical-span1 col-xs-12" ng-click="showEditTags=true" ng-hide="showEditTags">Tags: hip-hop, fantasia</div>
                                <input class="vertical-span1 col-xs-10" ng-show="showEditTags" placeholder="hip-hop, fantasia">
                                <button class="col-xs-2" ng-show="showEditTags" ng-click="showEditTags=false">Save tags</button>
                                <div class="col-xs-12 vertical-span2">
                                    <button class="fa fa-share"></button>
                                    <button class="fa fa-times"></button>
                                    <button class="fa fa-xing"></button>
                                </div>
                                <div class="vertical-span1"></div>
                            </div>
                            <div class="vertical-span6 col-xs-12">
                                <div class="vertical-span8 scroll-y" ng-hide="showEditNote" ng-click="showEditNote=true">
                                    {{testCopy}}
                                </div>
                                <button ng-show="showEditNote" class="vertical-span2 pull-right" ng-click="showEditNote=false">Finished</button>
                                <textarea ng-show="showEditNote" class="vertical-span8 scroll-y" ng-model="testCopy"></textarea>
                                <div class="vertical-span1 pull-right"><code>Nov2 8:42pm</code></div>
                                <div class="vertical-span1 col-xs-12" ng-click="showEditTags=true" ng-hide="showEditTags">Tags: hip-hop, fantasia</div>
                                <input class="vertical-span1 col-xs-10" ng-show="showEditTags" placeholder="hip-hop, fantasia">
                                <button class="col-xs-2" ng-show="showEditTags" ng-click="showEditTags=false">Save tags</button>
                                <div class="col-xs-12 vertical-span2">
                                    <button class="vertical-span12 fa fa-share"></button>
                                    <button class="vertical-span12 fa fa-times"></button>
                                    <button class="vertical-span12 fa fa-xing"></button>
                                </div>
                            </div>
                            <div class="vertical-span6 col-xs-6">
                                <div class="vertical-span8 scroll-y" ng-hide="showEditNote" ng-click="showEditNote=true">
                                    {{testCopy}}
                                </div>
                                <button ng-show="showEditNote" class="vertical-span2 pull-right" ng-click="showEditNote=false">Finished</button>
                                <textarea ng-show="showEditNote" class="vertical-span8 scroll-y" ng-model="testCopy"></textarea>
                                <div class="vertical-span1 pull-right"><code>Nov2 8:42pm</code></div>
                                <div class="vertical-span1 col-xs-12" ng-click="showEditTags=true" ng-hide="showEditTags">Tags: hip-hop, fantasia</div>
                                <input class="vertical-span1 col-xs-10" ng-show="showEditTags" placeholder="hip-hop, fantasia">
                                <button class="col-xs-2" ng-show="showEditTags" ng-click="showEditTags=false">Save tags</button>
                                <div class="col-xs-12 vertical-span2">
                                    <button class="vertical-span12 fa fa-share"></button>
                                    <button class="vertical-span12 fa fa-times"></button>
                                    <button class="vertical-span12 fa fa-xing"></button>
                                </div>
                            </div>
                            <div class="vertical-span6 col-xs-6">
                                <div class="vertical-span8 scroll-y" ng-hide="showEditNote" ng-click="showEditNote=true">
                                    {{testCopy}}
                                </div>
                                <button ng-show="showEditNote" class="vertical-span2 pull-right" ng-click="showEditNote=false">Finished</button>
                                <textarea ng-show="showEditNote" class="vertical-span8 scroll-y" ng-model="testCopy"></textarea>
                                <div class="vertical-span1 pull-right"><code>Nov2 8:42pm</code></div>
                                <div class="vertical-span1 col-xs-12" ng-click="showEditTags=true" ng-hide="showEditTags">Tags: hip-hop, fantasia</div>
                                <input class="vertical-span1 col-xs-10" ng-show="showEditTags" placeholder="hip-hop, fantasia">
                                <button class="col-xs-2" ng-show="showEditTags" ng-click="showEditTags=false">Save tags</button>
                                <div class="col-xs-12 vertical-span2">
                                    <button class="vertical-span12 fa fa-share"></button>
                                    <button class="vertical-span12 fa fa-times"></button>
                                    <button class="vertical-span12 fa fa-xing"></button>
                                </div>
                            </div>
                            <div class="vertical-span6 col-xs-6">
                                <div class="vertical-span8 scroll-y" ng-hide="showEditNote" ng-click="showEditNote=true">
                                    {{testCopy}}
                                </div>
                                <button ng-show="showEditNote" class="vertical-span2 pull-right" ng-click="showEditNote=false">Finished</button>
                                <textarea ng-show="showEditNote" class="vertical-span8 scroll-y" ng-model="testCopy"></textarea>
                                <div class="vertical-span1 pull-right"><code>Nov2 8:42pm</code></div>
                                <div class="vertical-span1 col-xs-12" ng-click="showEditTags=true" ng-hide="showEditTags">Tags: hip-hop, fantasia</div>
                                <input class="vertical-span1 col-xs-10" ng-show="showEditTags" placeholder="hip-hop, fantasia">
                                <button class="col-xs-2" ng-show="showEditTags" ng-click="showEditTags=false">Save tags</button>
                                <div class="col-xs-12 vertical-span2">
                                    <button class="vertical-span12 fa fa-share"></button>
                                    <button class="vertical-span12 fa fa-times"></button>
                                    <button class="vertical-span12 fa fa-xing"></button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </article>

</div>