<div>
    <div ng-if="order|| $parent.order">Hello Specific Order</div>
    <h3>Orders</h3>


    <div class="clearfix">
        <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
        <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}

        <table ng-table="tableParams" class="table">
            <tr ng-repeat="order in (user.orders || $parent.$parent.user.orders)">
                <td data-title="'Date'" sortable="'date'">
                    {{order.createdTime | date:'yyyy-MM-dd'}}
                </td>
                <td data-title="'Items'" sortable="'items'">
                    <span ng-repeat="item in (order.items || $parent.$parent.order.items)">{{item.name}}, {{item.qty}}{{item.units}} - {{item.price | currency}}<br></span>
                </td>
                <td data-title="'Total'" sortable="'total'">
                    {{order.total | currency}}
                </td>
            </tr>
        </table>
    </div>

</div>