<div>



        <div>
            <div class="list-group">

                <a ng-cloak class="list-group-item" ng-show-auth="login" ng-controller="LoginController" href="#" ng-click="logout()"><i class="fa fa-unlock"></i> Log Out <i class="fa fa-chevron-right pull-right"></i></a>
                <a ng-cloak class="list-group-item " ng-show-auth="['logout','error']" href="#loginOverlay" toggle="on"><i class="fa fa-lock"></i> Cloverleaf Industries <i class="fa fa-chevron-right pull-right"></i></a>
                <div ui-view="1@ecoApp.nav.not.tools"></div>
                <div ui-view="2@ecoApp.nav.not.tools"></div>
            </div>
        </div>



    </div>