
<div class="sidebar sidebar-right" toggleable parent-active-class="sidebar-right-in" id="rightSidebar">

    <div ng-show="user.id">
        <div class="btn-group justified">
            <a ng-click="msgsChecked=!msgsChecked;" class="btn btn-navbar btn-icon-only" ng-hide="msgsChecked"><i class="fa fa-comments fa-navbar"></i> </a>
            <a ng-click="msgsChecked=!msgsChecked" class="btn btn-navbar btn-icon-only" ng-show="msgsChecked"><i class="fa fa-comments fa-navbar"></i> </a>
            <a ng-click="evtsChecked=!evtsChecked;" class="btn btn-navbar btn-icon-only" ng-hide="evtsChecked"><i class="fa fa-calendar fa-navbar"></i> </a>
            <a ng-click="evtsChecked=!evtsChecked" class="btn btn-navbar btn-icon-only" ng-show="evtsChecked"><i class="fa fa-calendar fa-navbar"></i> </a>

        </div>

        <div>

            <div >
                <div ng-show="msgsChecked" eco-panel title="Messages" iconz="iconx" class=" col-xs-12">
                    <messages></messages>
                </div>
                <div ng-show="evtsChecked" eco-panel title="Events" iconz="iconz" class=" col-xs-12">
                    <events></events>
                </div>
            </div>

        </div>
    </div>
</div>