<div>
    <div ng-if="inventory|| $parent.inventory">Hello Specific Inventory Tree</div>

    <div>
        <select ng-model="invShop" ng-change="shopSelected()" ng-options="shopID as shop.name for (shopID,shop) in shops">
            <option value="">-- choose shop --</option>
        </select>

        <div>
            {{productCount()}} products.
        </div>

        <table>
            <tr>
                <th><a ng-click="sortBy('upc')">UPC</a></th>
                <th><a ng-click="sortBy('name')">Product</a></th>
                <th><a ng-click="sortBy('stock')">Stock</a></th>
                <th><a ng-click="sortBy('price')">Price</a></th>
                <th>Suppliers</th>
            </tr>
            <tr ng-repeat="(idx,product) in inventory | orderByPriority | orderBy:productOrder:productReverse">
                <td>{{product.upc}}</td>
                <td>{{product.name}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.price | currency}}</td>
                <td><ul>
                    <li ng-repeat="sup in product.suppliers">{{sup.name}} - {{sup.cost | currency}}</li>
                </ul></td>
            </tr>
        </table>
        <p><br/><br/><br/><br/><br/></p>
    </div>

    <div ng-show="showImport">
        <div>
            <div>
                <select ng-model="importShop" ng-disabled="importing" multiple="multiple" ng-options="shopID as shop.name for (shopID,shop) in shops">
                    <option value="">-- choose shop --</option>
                </select>
                <select ng-model="import" ng-disabled="importing" ng-options="importID as importer.name for (importID,importer) in importers">
                    <option value="">-- choose import --</option>
                </select>
            </div>

            <div ng-show="import && importers[import] && importShop">
                <div ng-show="!importing">
                    Import <strong>{{importers[import].name}}</strong> from <strong>{{importers[import]['raw-table']}}</strong>...<br/>
                    <!-- Into <strong>{{shops[importShop].name}}</strong> @ <em>{{shops[importShop].catalog}}</em><br/ -->
                    Into <span ng-repeat="cShop in importShop">
                            <span ng-if="!$first">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <strong>{{shops[cShop].name}}</strong> @ <em>{{shops[cShop].catalog}}</em><br/>
                        </span>

                    <button ng-click="startImport()" class="btn btn-warning">Import!</button>
                </div>

                <div ng-show="importing">
                    Importing <strong>{{importing.import.name}}</strong> from <strong>{{importing.import['raw-table']}}</strong>...<br/>
                    <!-- Into <strong>{{importing.shop.name}}</strong> @ <em>{{importing.shop.catalog}}</em><br/ -->
                    Into <span ng-repeat="cShop in importing.shop">
                            <span ng-if="!$first">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <strong>{{cShop.name}}</strong> @ <em>{{cShop.catalog}}</em><br/>
                        </span>
                    Started at {{importing.startTime | date:'mediumTime'}} on {{importing.startTime | date:'shortDate'}}
                </div>
            </div>
        </div>

        <div ng-show="importHistory.length">
            <h4>History</h4>
            <ul>
                <li ng-repeat="history in importHistory"><strong>{{history.name}}</strong> into <strong ng-repeat="cShop in history.shop"><span ng-if="!$first">, </span>{{cShop.name}}</strong> @ {{history.start | date:'mediumTime'}} to {{history.finish | date:'mediumTime'}} ({{ (history.finish-history.start)/1000 }}s) on {{history.finish | date:'shortDate'}}</li>
            </ul>
        </div>
    </div>

    <div ng-show="showCreateShop">
        <h3>Shop Maker</h3>

        <div>
            <label for="shopName">Name</label>
            <input type="text" ng-model="shopName" ng-change="autoBranchName()" id="shopName" placeholder="Shop Name" />
        </div>
        <div ng-show="mess" ng-model="mess">
            {{mess}}
        </div>
        <div>
            <button ng-click="createShop()" class="btn btn-success">Create Shop</button>
        </div>

        <h4>Active Shop</h4>
        {{activeShop}}
        <select ng-model="$parent.activeShop" ng-change="activateShop()">

            <option ng-repeat="(cShopID, cShop) in shops" ng-value="cShopID">{{cShop.name}}</option>
        </select>
    </div>
</div>