<div class="login col-xs-12">
    <h1 data-fittext="1" data-fittext-min="16" data-fittext-max="56">User</h1>
    <div ng-show="user.messages">
        <ul class="messages">
            <li ng-repeat="message in user.messages">{{message}}</li>
        </ul>
    </div>
    <div ng-show="user.errors">
        <ul class="errors">
            <li ng-repeat="error in user.errors">{{error}}</li>
        </ul>
    </div>
    <div ng-show="user.profile">

        <div ng-show="user.profile.$id">
            Hello, {{user.profile.displayName}}<br/>
            <strong>email: </strong> {{user.profile.email}}<br/>
            <strong>username: </strong> {{user.profile.$id}}<br/>
            <button class="btn btn-primary" ng-click="logout()">Logout</button>
        </div>

        <div ng-show="user.profile.new">
            <h2 data-fittext="1" data-fittext-min="16" data-fittext-max="56">Create Account</h2>

            <p ng-show="user.profile.displayName">Hello, <strong>{{user.profile.displayName}}</strong>.<br/>Please confirm your account details to continue.</p>
            <div class="form-group">
                <label for="login-create-account-email">Email</label>
                <input class="form-control" type="text" ng-model="user.profile.email" placeholder="email" id="login-create-account-email"/>
            </div>
            <div class="form-group">
                <label for="login-create-account-username">Username</label>
                <input class="form-control" type="text" ng-model="user.profile.username" placeholder="username" id="login-create-account-username"/>
            </div>

            <div class="form-group" ng-show="!user.profile.uid">
                <label for="login-create-account-password">Password</label>
                <input class="form-control" type="password" ng-model="user.profile.password" placeholder="password" id="login-create-account-password"/>
            </div>

            <div class="form-group" ng-show="!user.profile.uid">
                <label for="login-create-account-passConfirm">Confirm Password</label>
                <input class="form-control" type="password" ng-model="user.profile.passConfirm" placeholder="confirm password" id="login-create-account-passConfirm"/>
            </div>
            <button class="btn btn-success" ng-click="register()">Create Account</button>
            <button class="btn btn-danger" ng-click="logout();">Cancel</button>
        </div>

        <div ng-show="user.profile.recover">
            <h2 data-fittext="1" data-fittext-min="16" data-fittext-max="56">Recover Password</h2>
            <div class="form-group">
                <label for="login-recover-password-email">Email</label>
                <input class="form-control" type="text" ng-model="user.profile.email" placeholder="email" id="login-recover-password-email"/>
            </div>
            <button class="btn btn-success" ng-click="recoverPassword()">Send New Password</button>
        </div>
    </div>

    <div ng-show="!user.profile">
        <h2 data-fittext="1" data-fittext-min="16" data-fittext-max="56">Login</h2>

        <div class="form-group">
            <input class="form-control" type="text" ng-model="user.login.email" placeholder="email"/>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" ng-model="user.login.password" placeholder="password"/>
        </div>
        <button class="btn btn-primary" ng-click="login('password')">Login</button><br/>
        <a href="#" ng-click="user.errors=[];user.profile={new:true,email:user.login.email};">Register</a>
        <a href="#" ng-click="user.errors=[];user.profile={recover:true,email:user.login.email};">Forgot Password?</a>

        <p>- OR -</p>

        <button class="btn btn-primary" ng-click="login('facebook')">Facebook</button>
        <button class="btn btn-primary" ng-click="login('twitter')">Twitter</button>
    </div>



</div>