<div>
    <div class="row">
        <div class="well">

            <ul class="nav nav-tabs">
                <li ng-class="{active:loginMode||passwordMode}"><a ng-click="setMode('login')">Login</a></li>
                <li ng-class="{active:createMode||profileMode}"><a ng-click="setMode('register')">Register</a></li>
            </ul>

            <div ng-show="loginMode || createMode" class="col-sm-12">
                <button class="btn btn-lg btn-primary" ng-click="login('facebook')">Facebook</button>
                <legend>Email/Password</legend>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>email</label>
                                    <input class="form-control" type="text" ng-model="email" />
                                </div>

                                <div class="form-group">
                                    <label>password</label>
                                    <input class="form-control" type="password" ng-model="pass" />
                                </div>

                                <div class="form-group" ng-show="createMode">
                                    <label>confirm pass</label>
                                    <input class="form-control" type="password" ng-model="confirm" />
                                </div>

                                <button ng-if="loginMode" class="btn btn-primary" ng-click="loginPassword()">Log In</button>
                                <button ng-if="loginMode" class="btn btn-warning btn-sm" ng-click="setMode('password')">Forgot Password</button>
                                <button ng-if="createMode" class="btn btn-success" ng-click="createAccount()">Create Account</button>
                                <button ng-if="createMode" class="btn btn-default btn-sm" ng-click="setMode('login')">Cancel</button>
                            </div>
                        </div>
                    </fieldset>

                    <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>

                </form>
            </div>

            <div ng-show="passwordMode" class="col-sm-12">
                <form role="form">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Please enter your email address to continue...</p>

                                <div class="form-group">
                                    <label>email</label>
                                    <input class="form-control" type="text" ng-model="email" />
                                </div>

                                <button class="btn btn-success" ng-click="recoverPassword()">Recover Password</button>
                                <button class="btn btn-default btn-sm" ng-click="setMode('login')">Cancel</button>
                            </div>
                        </div>
                    </fieldset>

                    <br />
                    <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>
                </form>
            </div>

            <div ng-show="profileMode" class="col-sm-12">
                <form role="form">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Please confirm your username to continue...</p>

                                <div class="form-group">
                                    <label>uid</label>
                                    {{ userAuth.uid }}
                                </div>
                                <div class="form-group">
                                    <label>display name</label>
                                    {{ displayName }}
                                </div>

                                <div class="form-group">
                                    <label>username</label>
                                    <input class="form-control" type="text" ng-model="username" />
                                </div>
                                <div class="form-group">
                                    <label>email</label>
                                    <input class="form-control" type="text" ng-model="email" />
                                </div>

                                <button class="btn btn-success" ng-click="createProfile()">Create Account</button>
                                <button class="btn btn-default btn-sm" ng-click="cancelProfile()">Cancel</button>
                            </div>
                        </div>
                    </fieldset>

                    <br />
                    <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>
                </form>
            </div>
            <user-info></user-info>
        </div>
    </div>
</div>
