<div class="col-xs-12" id="omnom" ng-click="omnom=!omnom;searching=true;" ng-mouseover="omnom=true;searching=true;" ng-mouseleave="omnom=false;searching=false;">
    <img ng-src="app/images/eco-logo.png" class="omnom">
    <div ng-show="omnom" class="omnom-pop">
        <div class="col-xs-6">
            <h5>Most Used Tools</h5>
            <a eco-ref="system.data.params.data.path +'/?main=orders'">Omnomonom</a>
            <a eco-ref="system.data.params.data.path +'/?main=orders'">Omnomonom</a>
            <a eco-ref="system.data.params.data.path +'/?main=orders'">Omnomonom</a>

            <h5>Quick Layout</h5>
        </div>
        <div class="col-xs-6 well">
            <h5>Sales and Policies</h5>
            <a eco-ref="system.data.params.data.path +'/?main=orders'">Omnoonom</a>
            <h5>Technical Issues</h5>
            <a eco-ref="system.data.params.data.path +'/?main=orders'">Omnoonom</a>
            <a eco-ref="system.data.params.data.path +'/?main=orders'">Omnoonom</a>


        </div>

    </div>


</div>