<div>
    <div ng-repeat="(key,category) in inventory | orderByPriority | filter:searchText"> <h1 style="clear: both">{{ $key | uppercase }}</h1>
        <div  ng-repeat="(item,product) in category | orderByPriority | filter:searchText">

            <div class="col-xs-5">
                <h3>{{ $key }}</h3>
                <div class="resize-content"><img width="100%" ng-src="{{product.img}}"></div>
                <p>Description: {{ product.description }}</p>
            </div>

            <div class="col-xs-7">
                <h3>Available Variations: </h3>
                <div  ng-repeat="(key,variation) in product.variations">
                    <b>{{ key }} @ {{ variation.price | currency }}/{{ $parent.product.unitType }}</b>
                    <div>
                        Qty: <input type="number" ng-model="qty"/>
                        <button href ng-click="addProduct(
                                variation.sku,
                                qty,
                                $parent.product.unitType,
                                key,
                                variation.price,
                                $parent.product.img
                            )" class="btn-success">add item</button>
                    </div>

                </div>




                <div ng-model="variation.price">{{variation.price}}</div>


            </div>
        </div>

    </div>

</div>