<div ui-view="{{view}}"><top-bar></top-bar></div>
<div ui-view="{{view}}"><left-bar></left-bar></div>

<div class="middle col">
    <div class="body rowz col-xs-12">
        <div class="scroll-x">
            <product-list></product-list>

            <map zoom="11" center="[40.74, -74.18]" map-type-id="MapTypeId.SATELLITE">
                <marker position="current" centered="true"></marker>
            </map>
            <div ui-view="{{view}}">{{test}}</div>

        </div>

    </div>
</div>

<div ui-view="{{view}}"><right-bar></right-bar></div>
<div ui-view="{{view}}"><bottom-bar></bottom-bar></div>

<div overlay="loginOverlay">
    {{overlay}}
</div>