<div ui-view="{{view}}">
    <div class="col-xs-12 eco-alert">
        <div ng-click="$parent.alertz=false" ng-hide="!$parent.alertz" ng-show="$parent.alertz" class="alert-danger alert"><b>{{$parent.alertz}}</b> </div>
    </div>
    <top-bar></top-bar>
    <left-bar></left-bar>
    <div class="middle col">
        <div class="body rowz">
            <div class="scroll-x">
                <!-- type attr used for non-repeated or directed views such as overlay. -->
                <div ng-if="main"><comp element="main"></comp></div>
                <div ng-if="!main"><shop></shop></div>
            </div>
        </div>
    </div>
    <right-bar></right-bar>
    <bottom-bar></bottom-bar>


    <div ng-init="ecoOverlay=true" ng-show="ecoOverlay" class="eco-overlay" ng-style="overlayDimensions">
        <div ng-if="!overlay">
            <shop></shop>
        </div>
        <div ng-if="overlay">
            <comp element="overlay"></comp>
        </div>

    </div>
</div>