<div>
    <fieldset ng-show="newEvt" class="">
        <legend>New Event</legend>
        <div>
            <label>Title</label>
            <input type="text" ng-model="newEvent.title" />
        </div>

        <div>
            <label>Description</label>
            <textarea ng-model="newEvent.description"></textarea>
        </div>
        <div>
            <label>Users</label>
            <!-- input type="text" ng-model="newEvent.users" /-->
            <select ng-model="newEvent.users" multiple="multiple">
                <option ng-repeat="username in users" value="{{ username }}">{{ username }}</option>
            </select>
        </div>
        <div>
            <label>Type</label>

            <label>Calendar</label>
            <input type="radio" ng-model="newEvent.type" value="calendar" />

            <label>To-Do</label>
            <input type="radio" ng-model="newEvent.type" value="todo" />

            <label>Shift</label>
            <input type="radio" ng-model="newEvent.type" value="shift" />
        </div>

        <div ng-show="newEvent.type === 'shift'">
            <div ng-repeat="username in newEvent.users">
                <strong>{{ username }}'s assignment:</strong><br/>
                <input type="radio" ng-model="newEvent.shiftType[username]" value="general" /> <label>General</label><br/>
                <input type="radio" ng-model="newEvent.shiftType[username]" value="cashier" /> <label>Cashier</label><br/>
                <input type="radio" ng-model="newEvent.shiftType[username]" value="delivery" /> <label>Delivery</label><br/>
                <input type="radio" ng-model="newEvent.shiftType[username]" value="asst-manager" /> <label>Assistant Manager</label>
            </div>
        </div>
        <div ng-show="newEvent.type === 'todo'">
            <label>Due Date</label>
            <input type="checkbox" ng-model="newEvent.dueDate" />
        </div>
        <div ng-show="newEvent.type === 'calendar' || newEvent.type === 'shift' || newEvent.dueDate">
            <label>Date</label> <span ng-hide="newEvent.type === 'shift'"><input type="checkbox" ng-model="newEvent.hasEnd" /> End Date</span><br/>

            <div ng-hide="newEvent.hasEnd || newEvent.type === 'shift'" date-picker="newEvent.date" view="month"></div>
            <div ng-show="newEvent.hasEnd || newEvent.type === 'shift'" date-range start="newEvent.date" end="newEvent.end" view="month"></div>
        </div>

        <button ng-click="createEvent(); newEvt=!newEvt;">Create Event</button>
    </fieldset>
    <h5>To-Do</h5>
    <ul>
        <li ng-repeat="event in user.events | eventFilter:{isTodo: true}">
            <input type="checkbox" ng-click="completeTodo(event.$id)" ng-checked="event.completeFlag" ng-model="event.completeFlag" />
            {{ event.title }}
            <div ng-show="event.completed">completed: {{event.completed.time | date:'shortDate'}} @ {{event.completed.time | date:'mediumTime'}} by {{event.completed.user}}</div>
        </li>
    </ul>
<div class="col-xs-12" ng-show="cal">
    <h5>Calendar</h5>
    <calendar></calendar>
    <ul>
        <li ng-repeat="event in user.events | eventFilter:{isCalendar: true}">{{ event.date | date:'shortDate' }} @ {{ event.date | date:'shortTime' }} - {{ event.title }}</li>
    </ul>
</div>





</div>