<div>
    <div ng-if="info || $parent.info">Hello Specific Info</div>
    <div ng-click="newInfo=!newInfo">New Info</div>
    <div ng-show="newInfo" class="col-xs-12">
        <input placeholder="date">
        <textarea placeholder="content"></textarea>
        <input placeholder="title">
        <input placeholder="media url">
        <input placeholder="links">
        <select placeholder="categories"><option>Category 1</option></select>
        <input placeholder="tags">
        <input placeholder="author">
    </div>
    <div ng-repeat="info in infos">
        <div>
            <div>
                <h3>{{info.title}}</h3>
            </div>
            <div ng-repeat="part in info.parts">
                <h4>{{part.heading}}</h4>
                <span ng-repeat="media in part.media"><img ng-src="{{media}}"></span>
                <div ng-repeat="words in part.words">{{words}}</div>
                <i>{{part.footnote}}</i>
            </div>
            <div>
                <span>{{info.author}}</span>, <span> {{info.published | date:'medium'}}</span>,<span> {{info.related}}</span>
            </div>
        </div>

    </div>



</div>