<div>

    <div class="col-sm-12">


        <div  style="clear: both" ng-repeat="(messageID, message) in user.messages.unseen track by $index">
            <a href="#msgHeader" ng-click="msgChecked=!msgChecked" ng-hide="msgChecked"><button>Show Conversation</button></a>
            <button ng-click="msgChecked=!msgChecked" ng-show="msgChecked">Hide Conversation</button>
            <div class="col-sm-3" ng-click="msgChecked-!msgChecked">
                <h3>subject: {{ message.subject }}</h3>
                <p>Users: <span ng-repeat="(user,boo) in message.users">{{ user }} </span></p>
                <p ng-show="msgChecked">messageID: {{ messageID }}</p>
            </div>
            <div class="col-sm-9">
                <div ng-show="msgChecked">
                    <div style="max-height: 300px; overflow-y: scroll">
                        <div class="col-sm-12" ng-repeat="(timestamp, contrib) in message.conversation" >
                             <code class="col-sm-3">{{ timestamp | date:'shortDate'  }} {{ timestamp | date:'shortTime'  }}</code> <span class="col-sm-9"><b>{{ contrib.user }}:</b> {{ contrib.text }}</span><hr>
                        </div>

                        <h4 scroll-to-bookmark id="msgHeader">Add Message:</h4>
                        <div class="form-group col-sm-10">
                            <textarea ng-model="text[$index]"></textarea>
                        </div>

                        <button class="col-sm-2" ng-show="text[$index]" ng-click="sendMessage(messageID, $index)">Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12">
        <h4>Start Conversation</h4>
        {{ users }}
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>To:</label>
                        <select ng-model="sendTo" multiple="multiple">
                            <option ng-repeat="username in users" value="{{ username }}">{{ username }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Subject:</label>
                        <input type="text" ng-model="subject" />
                    </div>

                    <div class="form-group">
                        <label>Message:</label>
                        <textarea ng-model="text.new"></textarea>
                    </div>

                    <button ng-click="startConversation()">Send</button>
                </div>
            </div>


        </fieldset>

    </div>

</div>
